@import "@/styles/_mixins.scss";
@import "@/styles/_variables.scss";

.post__wrapper {
  min-height: 100vh;
  justify-content: center;
  overflow: auto;
  display: flex;
  // @include tablet {
  //   flex-direction: column;
  // }
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.formik__wrapper {
  width: 300px;
  height: 100%;
  border: 1px solid $color-black;
  margin: 1rem;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  @include d-flex(column, center, center);
}

.field__error {
  width: 100%;
  color: $color-error !important;
  font-size: 0.8rem;
}

.post__detail {
  padding: 1em;
  max-width: 80%;
  margin: auto;
}
